@model DataAccessLayer.Domain.Login

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

    <style>


        form {
            width: 60%;
            margin: auto;
            margin-top: 2%;
            /*background-color: #F7CAC9;*/
            border: 3px solid #f1f1f1;
            border-color: #244b81;
        }


        input[type=text], input[type=password] {
            width: 100%;
            padding: 8px 20px; /* Adjust the padding values */
            margin: 4px 0; /* Adjust the margin values */
            display: inline-block;
            /*border: 1px solid #ccc;*/
            box-sizing: border-box;
            border: 1px solid #f1f1f1;
            border-color: black;
        }

        button {
            background-color: #244b81;
            color: white;
            padding: 10px 20px; /* Change this line */
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            height: auto;
        }


        .container {
            padding: 16px;
        }

        .msg {
            padding: 0px;
        }


        .err {
            color: red;
        }

        h1 {
            text-align: center; /* Center the heading */
        }
    </style>

</head>
<body>
    <h1>Login</h1>
    <form asp-action="Index" method="post">

        <div class="container">
            <label asp-for="Email"><b>Email </b></label>
            <input type="text" asp-for="Email" placeholder="Enter Email">
            <div class="msg">
                <span class="err" asp-validation-for="Email"></span>
            </div><br />

            <label asp-for="Password"><b>Password</b></label>
            <input type="password" asp-for="Password" placeholder="Enter Password">
            <div class="msg">
                <span asp-validation-for="Password" class="err"></span>
            </div>

            <div style="display: inline-block;">
                <div>
                    <button type="submit" onclick="showMessageAndRedirect('@Url.Action("Create", "Disease")', '@Url.Action("Index", "Home")')">Login</button>
                </div>

            </div>
            <div style="display: inline-block;">
                <button type="button" onclick="location.href='/Home/Index'">Cancel</button>
            </div>
            <div>
                <a class="text-alert" href="/Registration/Index">Not a user? Signup</a>
            </div>
        </div>
    </form>
</body>
</html>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")


    <script>
        function showMessageAndRedirect(urlAdmin, urlUser) {
            var url = userIsAdmin ? urlAdmin : urlUser;

            if (url === null) {
                alert("Invalid email or password.");
            } else {
                alert("Login Successful!");

                setTimeout(function () {
                    window.location.href = url;
                }, 2000); // 2000 milliseconds (2 seconds) delay before redirection
            }
        }
    </script>
    }


