@model DataAccessLayer.Domain.Login


<!-- Display alert message -->
@if (TempData["LoginMessage"] != null && !(bool)TempData["IsAdmin"])
{
    <div class="alert alert-danger">
        @TempData["LoginMessage"]
    </div>
}

<div id="messageCenter">
    @if (ViewData["RegistrationSuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @ViewData["RegistrationSuccessMessage"]
        </div>
    }
</div>


<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/login.css">
    <title>login</title>

   

</head>
<body style="margin-bottom:80px;">
    <h1>Login</h1>
    <form asp-action="Index" method="post">

        <div class="container">
            <label asp-for="Email"><b>Email </b></label>
            <input type="text" asp-for="Email" placeholder="Enter Email">
            <div class="msg">
                <span class="err" asp-validation-for="Email"></span>
            </div><br />

            <label asp-for="Password"><b>Password</b></label>
            <input type="password" asp-for="Password" placeholder="Enter Password">
            <div class="msg">
                <span asp-validation-for="Password" class="err"></span>
            </div>

            <div style="display: inline-block;">
                <div>
                    @* <button type="submit" onclick="showMessageAndRedirect('@Url.Action("Create", "Disease")', '@Url.Action("Index", "Home")')">Login</button>*@
                    <button type="submit">Login</button>
                </div>

            </div>
            <div style="display: inline-block;">
                <button type="button" onclick="location.href='/Home/Index'">Cancel</button>
            </div>
            <div>
                <a class="text-alert" href="/Registration/Index">Not a user? Signup</a>
            </div>
        </div>
    </form>
</body>
</html>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Remove the message overlay after a certain delay
            setTimeout(function () {
                $("#messageCenter").fadeOut();
            }, 1000); // Change the delay as needed
        });
    </script>
}




