html * {
    font-family: 'Lemonada', cursive;
}

ul li {
    margin-right: 20px;
}

    ul li a.active {
        /*  background-color:lightskyblue;*/
        background-color: #5893d4;
        color: white;
        border-radius: 25px;
    }

    ul li a:hover {
        background-color: cadetblue;
        border-radius: 25px;
        height: 45px;
    }

    ul li a {
        display: block;
        color: white;
        font-weight: bold;
        text-decoration: none;
        font-size: 20px;
        padding: 10px 20px;
    }

    ul li p {
        display: block;
        color: gold;
        font-weight: bold;
        text-decoration: none;
        font-size: 20px;
        padding: 10px 20px;
        font-style: italic;
        height: 0px;
    }
