label strong {
    font-weight: bold;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 5px 20px;
    margin: 4px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #f1f1f1;
    border-color: black;
}
