@{
    ViewData["Title"] = "Payment Verification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payment Verification</h2>

<p>Please enter the following code to complete your payment:</p>

<h3>@ViewBag.PaymentVerification</h3>

<form method="post" action="@Url.Action("VerifyPayment", "Payment")">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="paymentVerification">Payment Verification Code:</label>
        <input type="text" class="form-control" id="paymentVerification" name="paymentVerification" required>
    </div>
    @if (ViewBag.PaymentSuccess != null && ViewBag.PaymentSuccess)
    {
        <div class="text-success">
            <i class="fas fa-check-circle"></i> Payment successful!
        </div>
    }
    else if(ViewBag.Paymentfailed != null && ViewBag.Paymentfailed)
    {
        <div class="text-danger">
           <i class="fas fa-times-circle"></i> Payment failed!
        </div>
    }

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
