@model DataAccessLayer.Domain.Disease

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Disease.cshtml";
}

<style>
 
    h1 {
        margin-top: 70px; 
        margin-bottom: 10px;
        margin-left: 52px; 
        font-size: 28px;
    }

    .form-container {
        border: 3px solid #244b81;
        padding: 30px; 
        border-radius: 5px;     
       /* background-color: #F7CAC9;*/      
        min-height: 350px;    
        /* max-width: 350px; */
        margin-left: 30px;
    }

    label {
        margin-bottom: 20px;
        display: block;
        font-size: 16px; 
    }

    input[type="text"],
    select {
        margin-bottom: 25px; 
        padding: 12px; 
        font-size: 16px; 
        border: 1px solid #f1f1f1;
        border-color: black;
       
    }

    .form-group.mt-4 {
        margin-top: auto; /* Align the "Save" button towards the bottom */
        padding-top: 5px;
        padding-bottom: 5px;
        
    }
    .form-group input{
        border: 1px solid #f1f1f1; 
        border-color: black;
    }

    .btn-primary.btn-lg {
        padding: 10px 20px; 
        font-size: 18px; 
        display: block; /* Center the button horizontally */
        margin: 0; /* Remove the default margin for the button */
        background-color: #244b81;
    }


</style>


<div class="row container">
    <div class="col-md-8 mt-4">
        <h1>Add Diseases</h1>
        <div class="form-container">

            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="DiseaseCategory" class="control-label"></label>
                    <select asp-for="DiseaseCategory" class="form-control" asp-items="@(ViewBag.Categories)" style="border: 1px solid #f1f1f1;
        border-color: black" ;>
                        <option value="">Select a category</option>
                    </select>
                    <span asp-validation-for="DiseaseCategory" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <!-- Use the ImageFile property for file upload -->
                    <input asp-for="ImageFile" type="file" class="form-control" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>

                <div class="form-group mt-4">
                    <input type="submit" value="Save" class="btn btn-primary btn-lg" onclick="showMessage()" />
                </div>

            </form>
        </div>
        @* <div class="mt-3">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>*@
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        function showMessage() {
            var diseaseCategory = document.getElementById("DiseaseCategory");
            var imageFile = document.getElementById("ImageFile");

            if (!diseaseCategory.value || !imageFile.value) {
                alert("Please enter values in all the required fields.");
            } else {
                alert("Data saved successfully!");
            }
        }
    </script>
}
